@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to NotAmoeba</h1>
    <img style="height:300px;width:400px;"src="~/NOTamoeba.png"/>
    <br/>
    <a asp-controller="Login" asp-action="Login">Please click here to LOG IN.</a><br/><br/>
    <a asp-controller="Register" asp-action="Register">Please click here to REGISTER</a>
</div>
